In [4]:
import requests
import json
from datetime import datetime,timedelta

# Replace 'YOUR_API_KEY' with your BLS API key
api_key = 'c89340cc51e64203b00cc284a3be036e'

# Define the BLS API endpoint for state employment data
endpoint = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'

# Specify the series IDs for the data you need (e.g., nonfarm employment for Washington State)
series_ids = ['SMS53000000000000001']

# Define the start and end dates for the past three years
end_date = datetime.now().strftime('%Y-%m-%d')
start_date = (datetime.now() - timedelta(days=3 * 365)).strftime('%Y-%m-%d')

# Build the request payload
payload = {
    'seriesid': series_ids,
    'startyear': start_date[:4],
    'endyear': end_date[:4],
    'registrationkey': 'c89340cc51e64203b00cc284a3be036e'
}

# Make the API request
response = requests.post(endpoint, json=payload)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the JSON response
    data = json.loads(response.text)

    # Extract and print the relevant information
    for series in data['Results']['series']:
        series_id = series['seriesID']
        data = series['data']
        for entry in data:
            year = entry['year']
            period = entry['period']
            value = entry['value']
            print(f"{series_id} - Year: {year}, Period: {period}, Value: {value}")

else:
    print(f"Error: {response.status_code} - {response.text}")

SMS53000000000000001 - Year: 2023, Period: M10, Value: 3650.4
SMS53000000000000001 - Year: 2023, Period: M09, Value: 3642.5
SMS53000000000000001 - Year: 2023, Period: M08, Value: 3637.6
SMS53000000000000001 - Year: 2023, Period: M07, Value: 3635.1
SMS53000000000000001 - Year: 2023, Period: M06, Value: 3641.4
SMS53000000000000001 - Year: 2023, Period: M05, Value: 3628.3
SMS53000000000000001 - Year: 2023, Period: M04, Value: 3623.6
SMS53000000000000001 - Year: 2023, Period: M03, Value: 3618.0
SMS53000000000000001 - Year: 2023, Period: M02, Value: 3613.6
SMS53000000000000001 - Year: 2023, Period: M01, Value: 3598.2
SMS53000000000000001 - Year: 2022, Period: M12, Value: 3585.5
SMS53000000000000001 - Year: 2022, Period: M11, Value: 3577.8
SMS53000000000000001 - Year: 2022, Period: M10, Value: 3567.8
SMS53000000000000001 - Year: 2022, Period: M09, Value: 3556.5
SMS53000000000000001 - Year: 2022, Period: M08, Value: 3555.3
SMS53000000000000001 - Year: 2022, Period: M07, Value: 3542.5
SMS53000000000000001 - Year: 2022, Period: M06, Value: 3520.4
SMS53000000000000001 - Year: 2022, Period: M05, Value: 3517.3
SMS53000000000000001 - Year: 2022, Period: M04, Value: 3507.5
SMS53000000000000001 - Year: 2022, Period: M03, Value: 3503.4
SMS53000000000000001 - Year: 2022, Period: M02, Value: 3491.0
SMS53000000000000001 - Year: 2022, Period: M01, Value: 3458.8
SMS53000000000000001 - Year: 2021, Period: M12, Value: 3458.3
SMS53000000000000001 - Year: 2021, Period: M11, Value: 3450.6
SMS53000000000000001 - Year: 2021, Period: M10, Value: 3440.3
SMS53000000000000001 - Year: 2021, Period: M09, Value: 3413.0
SMS53000000000000001 - Year: 2021, Period: M08, Value: 3396.1
SMS53000000000000001 - Year: 2021, Period: M07, Value: 3382.6
SMS53000000000000001 - Year: 2021, Period: M06, Value: 3361.1
SMS53000000000000001 - Year: 2021, Period: M05, Value: 3346.0
SMS53000000000000001 - Year: 2021, Period: M04, Value: 3331.6
SMS53000000000000001 - Year: 2021, Period: M03, Value: 3310.2
SMS53000000000000001 - Year: 2021, Period: M02, Value: 3282.9
SMS53000000000000001 - Year: 2021, Period: M01, Value: 3257.0
SMS53000000000000001 - Year: 2020, Period: M12, Value: 3256.2
SMS53000000000000001 - Year: 2020, Period: M11, Value: 3273.5
SMS53000000000000001 - Year: 2020, Period: M10, Value: 3265.6
SMS53000000000000001 - Year: 2020, Period: M09, Value: 3261.0
SMS53000000000000001 - Year: 2020, Period: M08, Value: 3243.4
SMS53000000000000001 - Year: 2020, Period: M07, Value: 3212.9
SMS53000000000000001 - Year: 2020, Period: M06, Value: 3172.1
SMS53000000000000001 - Year: 2020, Period: M05, Value: 3090.0
SMS53000000000000001 - Year: 2020, Period: M04, Value: 3097.2
SMS53000000000000001 - Year: 2020, Period: M03, Value: 3493.7
SMS53000000000000001 - Year: 2020, Period: M02, Value: 3511.7
SMS53000000000000001 - Year: 2020, Period: M01, Value: 3503.2

In [2]:
import requests
from datetime import datetime, timedelta
import pandas as pd

def get_bls_data(series_id, start_year, end_year):
    base_url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"

    payload = {
        'seriesid': [series_id],
        'startyear': start_year,
        'endyear': end_year,
    }

    response = requests.post(base_url, json=payload)

    if response.status_code == 200:
        data = response.json()['Results']['series'][0]['data']
        df = pd.DataFrame(data)
        df['value'] = pd.to_numeric(df['value'])
        df['year'] = pd.to_numeric(df['year'])
        return df
    else:
        print(f"Error: {response.status_code} - {response.text}")
        return None

# Example: Employment data for Washington State (nonfarm employment)
series_id = 'SMS53000000000000001'

# Specify the start and end years
end_year = datetime.now().year
start_year = end_year - 3

# Get the data
employment_data = get_bls_data(series_id, start_year, end_year)

# Display the data
if employment_data is not None:
    print(employment_data)

    year period periodName latest   value  \
0   2023    M10    October   true  3650.4
1   2023    M09  September    NaN  3642.5
2   2023    M08     August    NaN  3637.6
3   2023    M07       July    NaN  3635.1
4   2023    M06       June    NaN  3641.4
5   2023    M05        May    NaN  3628.3
6   2023    M04      April    NaN  3623.6
7   2023    M03      March    NaN  3618.0
8   2023    M02   February    NaN  3613.6
9   2023    M01    January    NaN  3598.2
10  2022    M12   December    NaN  3585.5
11  2022    M11   November    NaN  3577.8
12  2022    M10    October    NaN  3567.8
13  2022    M09  September    NaN  3556.5
14  2022    M08     August    NaN  3555.3
15  2022    M07       July    NaN  3542.5
16  2022    M06       June    NaN  3520.4
17  2022    M05        May    NaN  3517.3
18  2022    M04      April    NaN  3507.5
19  2022    M03      March    NaN  3503.4
20  2022    M02   February    NaN  3491.0
21  2022    M01    January    NaN  3458.8
22  2021    M12   December    NaN  3458.3
23  2021    M11   November    NaN  3450.6
24  2021    M10    October    NaN  3440.3
25  2021    M09  September    NaN  3413.0
26  2021    M08     August    NaN  3396.1
27  2021    M07       July    NaN  3382.6
28  2021    M06       June    NaN  3361.1
29  2021    M05        May    NaN  3346.0
30  2021    M04      April    NaN  3331.6
31  2021    M03      March    NaN  3310.2
32  2021    M02   February    NaN  3282.9
33  2021    M01    January    NaN  3257.0
34  2020    M12   December    NaN  3256.2
35  2020    M11   November    NaN  3273.5
36  2020    M10    October    NaN  3265.6
37  2020    M09  September    NaN  3261.0
38  2020    M08     August    NaN  3243.4
39  2020    M07       July    NaN  3212.9
40  2020    M06       June    NaN  3172.1
41  2020    M05        May    NaN  3090.0
42  2020    M04      April    NaN  3097.2
43  2020    M03      March    NaN  3493.7
44  2020    M02   February    NaN  3511.7
45  2020    M01    January    NaN  3503.2

                                 footnotes
0   [{'code': 'P', 'text': 'Preliminary'}]
1                                     [{}]
2                                     [{}]
3                                     [{}]
4                                     [{}]
5                                     [{}]
6                                     [{}]
7                                     [{}]
8                                     [{}]
9                                     [{}]
10                                    [{}]
11                                    [{}]
12                                    [{}]
13                                    [{}]
14                                    [{}]
15                                    [{}]
16                                    [{}]
17                                    [{}]
18                                    [{}]
19                                    [{}]
20                                    [{}]
21                                    [{}]
22                                    [{}]
23                                    [{}]
24                                    [{}]
25                                    [{}]
26                                    [{}]
27                                    [{}]
28                                    [{}]
29                                    [{}]
30                                    [{}]
31                                    [{}]
32                                    [{}]
33                                    [{}]
34                                    [{}]
35                                    [{}]
36                                    [{}]
37                                    [{}]
38                                    [{}]
39                                    [{}]
40                                    [{}]
41                                    [{}]
42                                    [{}]
43                                    [{}]
44                                    [{}]
45                                    [{}]