# Sakila Core Exercise
- Priscilla E. Cole
- November 13, 2022

# Import Libraries & Load Data

In [1]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [13]:
# add for special characters
from urllib.parse import quote_plus as urlquote
#from sqlalchemy.engine import create_engine,database_exists#, create_database
from sqlalchemy_utils import database_exists, create_database

In [14]:
username = 'root'
password = 'mysql@123'

In [18]:
# create connection string using credentials
connection = f"mysql+pymysql://{username}:{urlquote(password)}@localhost/sakila"
engine = create_engine(connection)

In [19]:
print(engine)

Engine(mysql+pymysql://root:***@localhost/sakila)

In [20]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [26]:
q = """SHOW Tables"""
pd.read_sql(q, engine)

              Tables_in_sakila
0                        actor
1                   actor_info
2                      address
3                     category
4                         city
5                      country
6                     customer
7                customer_list
8                         film
9                   film_actor
10               film_category
11                   film_list
12                   film_text
13                   inventory
14                    language
15  nicer_but_slower_film_list
16                     payment
17                      rental
18      sales_by_film_category
19              sales_by_store
20                       staff
21                  staff_list
22                       store